@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;900&family=Original+Surfer&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* font-size: 10px; we don't use px bacause will set the size(to 10px) no matter if the user changes his browser settings */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden; /* we don't want to see the mobile menu from outside the screen */
  scroll-behavior: smooth;
}

:root {
  --white-color: #fff;
  --white-color-dark: #ececf3;
  --white-color-dark2: #d1d1e6;
  --primary-color-dark: #0d0329;
  --primary-color: #1c0950;
  --primary-color-light: #3b2575;
  --secondary-color: #1d8193;
  --secondary-color-light: #22c8e5;
  --tertiary-color: #de2c52;
  --tertiary-color-light: #f3446a;
  --box-shadow: -6px -6px 16px var(--white-color), 6px 6px 16px #d1d1e6,
    inset 6px 6px 16px #d1d1e6, inset -6px -6px 16px var(--white-color);
}

body {
  /* background-color: #fff; */
  color: var(--primary-color);
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;

  margin: 0;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

a {
  text-decoration: none;
}

ul,
ul li {
  list-style-type: none;
  padding-left: 0;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}

.main {
  display: none;
  min-height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
  column-gap: 3.5rem;
  row-gap: 5rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
}

.heading-primary {
  font-size: 3rem;
  font-weight: 600;
  margin: 2rem 0 2rem;
}

.heading-secondary {
  font-size: 2.3rem;
  font-weight: 600;
  margin: 0 0 1.5rem;
}

.heading-tertiary {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0;
}

.paragraph {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  max-width: 70rem;
}

.btn {
  border: none;
  background-color: var(--white-color-dark);
  color: var(--primary-color);
  border-radius: 3px;
  font-size: 1.3rem;
  font-family: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.btn-source-code:link,
.btn-source-code:visited {
  border: 1px solid var(--primary-color);
  transition: all 0.3s ease;
}
.btn-source-code:hover,
.btn-source-code:active {
  border: 1px solid var(--secondary-color-light);
  background-color: var(--secondary-color-light);
}

/* ---------- Box general elements--------- */
.box {
  /* min-width: 29.2rem; */
  width: 100%;
  padding: 1.4rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
}
.technologies {
  display: flex;
  gap: 1rem;
}

.technology-item {
  display: inline-block;
  border: 1px solid var(--primary-color);
  padding: 0.1rem 0.5rem;
}

.item-primary {
  color: var(--primary-color);
}
.item-secondary {
  color: var(--secondary-color);
}
.item-tertiary {
  color: var(--tertiary-color);
}

.paragraph-box {
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.btn-read-more {
  padding-bottom: 1px;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  background: none;
  cursor: pointer;
  margin: 2rem 0 1rem;
  /* transition: all 0.3 ease; */
}

.btn-read-more:hover {
  color: var(--secondary-color);
}

.btn-read-more:hover + .read-more {
  display: block;
}

.read-more {
  position: relative;
}

.read-more-extended {
  background-color: var(--white-color);
  position: absolute;
  opacity: 0.96;
  top: 0;
  left: 0;
  z-index: 20;
}

.read-more {
  display: none;
}

/* ---------- End Box general elements--------- */

/* ---------- Clock ---------- */

.clock-description {
  margin-bottom: 2rem;
}

.clock-date-app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color-dark);
  padding: 2rem;
  height: 100%;
}

.clock-circle {
  position: relative;
  width: 200px;
  height: 200px;
  box-shadow: var(--box-shadow);
  border-radius: 50%;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}

.clock-twelve,
.clock-three,
.clock-six,
.clock-nine {
  position: absolute;
  width: 1rem;
  height: 1px;
  background-color: var(--primary-color-light);
}

.clock-twelve,
.clock-six {
  transform: translateX(-50%) rotate(90deg);
}

.clock-twelve {
  top: 1.25rem;
  left: 50%;
}

.clock-three {
  top: 50%;
  right: 0.75rem;
}

.clock-six {
  bottom: 1.25rem;
  left: 50%;
}

.clock-nine {
  top: 50%;
  left: 0.75rem;
}

.clock-center {
  width: 11px;
  height: 11px;
  background-color: var(--primary-color);
  border-radius: 50%;
  border: 2px solid var(--white-color-dark);
  position: relative;
  z-index: 10;
}

.clock-hour,
.clock-minutes,
.clock-seconds {
  position: absolute;
  display: flex;
  justify-content: center;
}

.clock-hour {
  width: 105px;
  height: 105px;
}

.clock-hour::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 2.5px;
  height: 45px;
}

.clock-minutes {
  width: 135px;
  height: 135px;
}

.clock-minutes::before {
  content: "";
  position: absolute;
  background-color: var(--primary-color);
  width: 2.5px;
  height: 60px;
}
.clock-seconds {
  width: 130px;
  height: 130px;
}

.clock-seconds::before {
  content: "";
  position: absolute;
  background-color: var(--tertiary-color);
  width: 1.65px;
  height: 80px;
}

.clock-time {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.clock-date {
  color: var(--secondary-color);
  font-size: 1.4rem;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.clock-date .circle-day {
  background-color: var(--primary-color);
  color: var(--secondary-color-light);
  border-radius: 50%;
  height: 1.8rem;
  width: 1.8rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1.8rem;
  transition: all 0.5s ease-in;
  padding: 1.2rem;
  margin: 0 0.5rem;
}

/* ---------- End Clock ---------- */

/* ---------- New Year Countdown ---------- */

.new-year-description {
  margin-bottom: 2rem;
}

.new-year-app {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7)),
    url("https://images.unsplash.com/photo-1521356279905-e1d72a443574?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 32rem;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  text-align: center;
  position: relative;
  height: 100%;
  padding: 2rem;
}

.new-year-time {
  font-size: 3.6rem;
  z-index: 5;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.new-year-time > small {
  font-size: 1.3rem;
  opacity: 0.9;
}

.new-year {
  font-size: 6rem;
  font-weight: 600;
  z-index: 1;
  opacity: 0.3;
  position: absolute;
  bottom: 2rem;
}

/* ---------- End New Year Countdown ---------- */

/* ---------- Water app ---------- */

.water-description {
  margin-bottom: 2rem;
}

.water-app {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.8)
    ),
    url("./images/water.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 100%;
}

.water-remained {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  transition: all 0.3s ease;
  line-height: 0.9;
}

.water-remained span {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.15rem;
}

.water-remained small {
  font-size: 1rem;
}

.water-percentage {
  background-image: linear-gradient(
    var(--secondary-color-light),
    var(--secondary-color)
  );
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
}

.water-text {
  text-align: center;
  margin: 2rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.water-cup {
  background-color: var(--white-color);
  border: 2px solid var(--secondary-color);
  border-radius: 3px 3px 20px 20px;
  height: 200px;
  width: 80px;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  color: var(--secondary-color);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3),
    inset 0px 5px 10px hsla(240, 30%, 93%, 1);
}

.water-cups {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 1rem;
}

.water-cup.cup-small {
  width: 30px;
  height: 50px;
  border: 1.3px solid var(--secondary-color);
  border-radius: 2px 2px 10px 10px;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1.3;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}

.water-cup.cup-small.full {
  background-color: var(--secondary-color-light);
  color: var(--primary-color);
  position: relative;
}

.water-cup.cup-small.full::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 15;
  width: 30px;
  height: 8px;
  background-color: var(--white-color);
}

/* ---------- End Water app ---------- */

/* ----------  Guess number---------- */
.guess-number-description {
  margin-bottom: 2rem;
  /* position: relative; */
}

.guess-number {
  background-color: var(--primary-color-dark);

  color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.guess-number-top {
  background-image: url("./images/background-numbers.svg");
  background-repeat: repeat;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.guess-number-again {
  background: var(--primary-color-dark);
  border: 1px solid var(--secondary-color-light);
  color: var(--secondary-color-light);

  margin: 2rem 2rem 0rem auto;
  transition: all 0.3s;
}

.guess-number-again:hover {
  border: 1px solid var(--secondary-color-light);
  background-color: var(--secondary-color-light);
  color: var(--primary-color);
}

.guess-number-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 2rem;
}

.guess-number-secret {
  width: 7rem;
  height: 8rem;
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 4.5rem;
  font-weight: 900;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.guess-number-title-box {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 3rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-number-title {
  font-size: 3rem;
  font-weight: 500;
  margin: 1rem 0;
}

.guess-number-title-box span {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  display: inline-block;
}

.guess-number-text {
  background: #eee;
  color: var(--primary-color);
  font-size: 2.5rem;
  font-weight: 700;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.guess-number-bottom {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: 0 2rem 5rem;
  position: relative;
}
.guess-number-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 5rem;
}

.guess {
  width: 7rem;
  height: 5rem;
  border-radius: 4px;
  background: transparent;
  border: 1.5px solid var(--tertiary-color);
  font-family: inherit;
  color: inherit;
  font-size: 3rem;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
}

.guess-number-check {
  border: 1px solid var(--secondary-color-light);
  background-color: var(--secondary-color-light);
  color: var(--primary-color);
  transition: all 0.3s;
  width: 7rem;
}

.guess-number-check:hover {
  background: transparent;
  border: 1px solid var(--secondary-color-light);
  color: var(--secondary-color-light);
}

.guess-number-right {
  display: flex;
  flex-wrap: wrap;
  column-gap: 4rem;
}
.guess-number-message {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: var(--secondary-color-light);
}

.guess-number-score-box {
  position: absolute;
  bottom: 1rem;
  right: 4rem;
}
.guess-number-label-score {
  margin-bottom: 0.4rem;
  font-size: 1.6rem;
}
.guess-number-label-highscore {
  margin-top: 0.4rem;
}

/* ---------- End Guess number---------- */

/* ----------  Piano---------- */

.piano-description {
  margin-bottom: 2rem;
}

.piano-box {
  background-color: var(--white-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.piano {
  display: flex;
  justify-content: center;
  margin: 4rem 2rem;
  box-shadow: var(--box-shadow);
}

.piano-key {
  cursor: pointer;
  text-align: center;
  position: relative;
}

.piano-white {
  width: 3.8rem;
  height: 15rem;
  background-color: var(--white-color);
  border: 1px solid var(--white-color-dark2);
}

.piano-white span {
  display: flex;
  position: absolute;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--white-color-dark2);
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
}

.piano-white.active {
  background-color: var(--white-color-dark);
}

.piano-black {
  width: 2.5rem;
  height: 10rem;
  background-color: var(--primary-color-dark);
  margin: 0 -1.25rem;
  z-index: 2;
}

.piano-black.active {
  background-color: var(--primary-color);
}

.piano-black span {
  display: flex;
  position: absolute;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
/* ----------  End Piano---------- */

.footer {
  background-color: var(--white-color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.paragraph-footer {
  padding: 2rem;
}

/* ****************** Media query **************** */

/* ---------- Breakpoint 576px- big phones ---------- */
@media (max-width: 48em) {
  html {
    /* we set it to 8px / 16px = 0.50 = 50% */
    font-size: 50%;
  }

  .container {
    padding: 0 1.5rem;
  }
}
